@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gradient-to-b from-[#E27CA8] via-[#C287DE] to-[#a73fc6];

  
}

/* 2-line clamp for product descriptions */
.clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}